@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.section-content {
  padding: 2rem;
}

.horizontal-scroll-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}

.horizontal-section {
  flex: 0 0 100vw;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
